<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/common.css">
    <title>Document</title>
</head>
<body>
    <nav class="">
        <div class="bg-pwhip">
            <ul class="font-shark font-bold">
                <li><a href="#introduce">자기 소개</a></li>
                <li><a href="#project">프로젝트</a></li>
                <li><a href="#type-c">C</a></li>
            </ul>
        </div>
    </nav>
    <section id="introduce">
        <h1>자기 소개</h1>
    </section>
    <section id="project">
        <h1>프로젝트</h1>
    </section>
    <section id="type-c">
        <h1>type-c</h1>
    </section>
    <footer></footer>
</body>
</html>