<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/common.css">
    <title>Introduce</title>
</head>
<body>
    <header class="header">
        <nav class="nav">
            <ul class="tab font-shark font-bold">
                <li><a href="#introduce">자기 소개</a></li>
                <li><a href="#my_skills">내 기술</a></li>
                <li><a href="#project">프로젝트</a></li>
            </ul>
            <ul class="tab font-shark font-bold">
                <li><button id="language" class="btn-none font-bold" type="button">ko</button></li>
                <li><button id="login" class="btn-none" type="button"><img class="icon-login"></button></li>
            </ul>
        </nav>
    </header>
    <main class="main bg-pwhip">
        <section id="home" class="section">
            <h1 class="section-header font-bold">홈</h1>
            <div class="container">
            </div>
        </section>
        <section id="introduce" class="section">
            <h1 class="section-header font-bold">자기 소개</h1>
            <div class="container">
            </div>
        </section>
        <section id="my_skills" class="section">
            <h1 class="section-header font-bold">내 기술</h1>
            <div class="container">
            </div>
        </section>
        <section id="project" class="section">
            <h1 class="section-header font-bold">프로젝트</h1>
            <div class="container">
                <h2 class="project-subject">Bnplatform</h2>
                <div class="img-container">
                    <img id ="project-thumb" src="/images/project/bnplatform/BnPlatform_2.png" class="project-thumb">
                </div>
                <div class="project-discription">
                    <span>
                        프로젝트 소개
                    </span>
                </div>
            </div>
        </section>
        <%-include('./includes/footer.ejs') %>
    </main>

    <div id="modal-login" class="modal">
        <div class="modal-content login-modal">
            <div>로그인 모달</div>
            <a href="/cms/introduce">cms 이동</a>
        </div>
    </div>
    <div id="modal-project" class="modal">
        <div class="modal-content project-modal">
            <div class="modal-header">
                <h2>project subject</h2>
                <button id="close" class="btn-none btn-close" type="button"><img class="icon-close"></button>
            </div>
            <div class="modal-body">
                <img class="project-thumb" src="/images/project/bnplatform/BnPlatform_2.png">
                <div class="project-pagenation">
                    <button class="btn-none" type="button"><img class="icon-arrow-left"></button>
                    <button class="btn-none" type="button"><img class="icon-arrow-right"></button>
                </div>
            </div>
        </div>
    </div>
    <script src="/javascripts/index.js"></script>
</body>
</html>