.section.cms {
    flex-direction: column;
    justify-content: start;
}

.form-cms {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.label-cms {
    width: 100%;
}
.input-cms {
    width: 100%;
    height: auto;
}