/*reset css*/ html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display: block;}body {line-height: 1;}ol,ul {list-style: none;}blockquote,q {quotes: none;}blockquote:before,blockquote:after,q:before,q:after {content: "";content: none;}table {border-collapse: collapse;border-spacing: 0;}img {display: block;}a {text-decoration: none;color: inherit;}

/* font */
@font-face {
    font-family: 'Noto Sans KR', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');
}
.font-thin {font-weight: 100;}
.font-bold {font-weight: 700;}
.font-lg {font-size: 1.2rem;}
.font-md {font-size: 1rem;}
.font-sm {font-size: 0.7rem;}
body{font-family: 'Noto Sans KR', sans-serif;}

/* color */
.font-orange {color: #f8b133;}
.font-pwhip {color: #ffefd6;}
.font-shark {color: #282c34;}
.font-porcelain {color: #f6f7f8;}
.bg-orange {background-color: #f8b133;}
.bg-pwhip {background-color: #ffefd6;}
.bg-shark {background-color: #282c34;}
.bg-porcelain {background-color: #f6f7f8;}

/* icon */
.icon_login {
    content: url(/images/person-fill.svg);
    width: 1.5rem;
    height: 1.5rem;
}
.icon_github {
    content: url(/images/github.svg);
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
}
/* button */
.btn-language {
    border: none;
    background-color: inherit;
    cursor: pointer;
}
/* header */
.header {
    width: 100%;
}
/* navbar */
.nav {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    position: fixed;
    padding: 1rem;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: #f8b133;
    box-sizing: border-box;
}

.nav>.tab {
    justify-content: end;
}
.nav ul { align-items: center;}
.nav ul li {
    padding : 0 0.5rem;
}

.tab {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
.tab:first-child {
    width: 80%;
}
.tab:nth-child(2) {
    width: 20%;
}

/* main */
.main {
    margin-top: 80px;
    width: 100%;
}

/* section */
.section {
    width: 100%;
    height: 100vh;
}

/* footer */
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: white;
}
