<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/common.css">
    <title>CMS</title>
</head>
<body>
    <header class="header">
    </header>
    <main class="main">
        <%-include('introduce.ejs') %>
        <footer class="footer">
            <div style="color: white;">깃 허브 로고 위치</div>
        </footer>
    </main>
</body>
</html>