<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/common.css">
    <link rel="stylesheet" href="/stylesheets/cms.css">
    <title>CMS</title>
</head>
<body>
    <header class="header">
        <nav class="nav">
            <ul class="tab font-shark font-bold">
                <li><a href="/cms/introduce">introduce</a></li>
                <li><a href="/cms/myskills">my skills</a></li>
                <li><a href="/cms/project">project</a></li>
            </ul>
        </nav>
    </header>
    <main class="main">
        <% if(type === 'introduce') {%>
                <%-include('introduce.ejs') %>
            <%} else if(type === 'myskills') {%>
                <%-include('myskills.ejs') %>
            <%} else {%>
                <%-include('project.ejs') %>
            <%}%>
        <%-include('../includes/footer.ejs') %>
    </main>
</body>
</html>