
<section id="my_skills" class="section cms">
    <h1>내 기술</h1>
    <form id="form-skills" class="form-cms" action="" method="post">
        <labe for="input-skills" class="label-cms">내 기술</labe>
        <input id="input-skills" class="input-cms" type="text" value="기술 내역입니다">
    </form>
</section>
