<section id="project" class="section">
    <h1>프로젝트</h1>
    <form id="form-project" class="form-cms" action="" method="post">
        <labe for="input-project" class="label-cms">프로젝트</labe>
        <input id="input-project" class="input-cms" type="text" value="프로젝트 설명입니다">
    </form>
</section>